<div class="uk-width-1-1@m">
  <div class="uk-card uk-card-default">
    <div class="uk-grid">
      <div class="uk-grid-1-4@m">
        IMAGEN
      </div>
      <div class="uk-grid-3-4@m">
        <div class="uk-card-header uk-padding-small">
          <h3>{{post.name}}</h3>
        </div>
        <div class="uk-card-body uk-padding-small">
          {{post.excerpt}}
        </div>
        <div class="uk-card-footer uk-padding-small uk-inline">
          <div class="">
            {{post.date}}
          </div>
          <div class="">
            <a href="{{post.url}}">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
